.task-form-header {
  padding: 12px;
  background: var(--main-dark);
  color: var(--main-text);
  margin: 0;
  letter-spacing: 1.2px;
}

.task-form {
  padding: 12px;
}

label {
  color: gray;
}
.type-wrapper {
  margin: 8px 0;
  mat-radio-button {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}
