.manage-status-block {
  height: 100%;
}

.manage-status-list {
  height: calc(100% - 20px);
  overflow: auto;
}

.manage-status-header {
  height: 24px;
  padding: 4px 0;
  text-align: center;
}

.status-select {
  margin-top: 12px;
  font-size: 12px;
  text-align: center;
}
