.content-wrapper {
  display: flex;
  justify-content: space-between;
  .list {
    width: 100%;
  }
  .detail {
    width: 500px;
    margin-left: 10px;
    box-shadow: -0.2px 0 0 gray;
  }
}

.search-input {
  mat-icon {
    color: grey;
    font-size: 16px;
    margin-right: 4px;
  }
}
