<div class="container">
  <h4>Home</h4>
  <mat-divider></mat-divider>
  <div class="content-wrapper">
    <div class="list">
      <mat-form-field class="search-input">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          placeholder="Search"
          autocomplete="off"
          [(ngModel)]="searchString"
        />
      </mat-form-field>
      <div>
        <b>List of tasks</b>
      </div>
      <ng-container *ngFor="let task of taskList | taskSearch: searchString">
        <app-task-card [task]="task" (clickHandler)="cardClickHandler(task)">
          <i class="created-date">
            {{ task.humanizeDate }}
          </i>
        </app-task-card>
      </ng-container>

      <button mat-flat-button color="primary" (click)="addCardClickHandler()">
        Add new task...
      </button>
    </div>
    <div class="detail" *ngIf="selectedTask">
      <ng-container>
        <app-task-form
          [task]="selectedTask"
          [edit]="taskEditState"
          (removeHandler)="removeTaskHandler()"
        ></app-task-form>
      </ng-container>
    </div>
  </div>
</div>
