.manage-wrapper {
  width: 100%;
  overflow: auto;
  margin-top: 6px;
  height: calc(100vh - 130px);
}

.manage-block {
  display: flex;
  width: calc(240px * 6 + 96px);
  height: calc(100% - 12px);
}

.manage-item {
  width: 240px;
  margin: 0 4px;
  padding: 0 4px;
  height: 100%;
  background: #ffffff;
}
