/* You can add global styles to this file, and also import other style files */

:root {
  --main: #0052cc;
  --main-dark: #172b4d;
  --main-text: #eaeaea;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #eaeaea;
  border-radius: 20px;
}

.container {
  padding: 12px;
  mat-divider {
    margin-left: -12px;
    margin-right: -12px;
  }
}

mat-form-field.full-width {
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.created-date {
  font-size: 12px;
}

.grad-divider {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, transparent, #c4c9d0, transparent) 0 0 1 0;
}
